{% extends 'base.html' %}

<!-- Page title -->
{% block title %}Contributors - Matrix Manipulation Project{% endblock title %}

{% block business_area %}
    <div class="container">
        <div class="row">
            <div class="col-12 empty-gap"></div>
            <!-- Profiles -->
            <div class="col-12">
                <h1 class="page-header">Contributors</h1>

                <!-- Project details -->
                <div class="col-12 card">
                    <div class="card-header">
                        <h2 class="page-header">Project details</h2>
                    </div>
                    <div class="card-body">
                        <p><b>Backend:</b> Python</p>
                        <p><b>Web Framework:</b> Python Flask</p>
                        <p><b>Frontend:</b> HTML5 + CSS3 + Bootstrap + Jquery</p>
                        <p><b>Software License:</b> GNU General Public License v3.0 </p>
                        <p><b>Follow the project on GitHub:</b>
                            <a href="https://github.com/immortalyash/TLTC-Matrix-Manipulation"
                               target="_blank">https://github.com/immortalyash/TLTC-Matrix-Manipulation</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 empty-gap"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <!-- Yash Ballani -->
            <div class="col-12 col-md-6">
                <div class="card profile">
                    <div class="card-body">
                        <div class="profile-img">
                            <img src="{{ url_for('static', filename='images/yash-ballani.jpg') }}">
                        </div>
                        <h2>Yash Ballani</h2>
                        <hr class="small-underline">
                        <div>
                            <div class="social-share">
                                <a class="facebook" href="https://www.facebook.com/yash.ballani" target="_blank">
                                    <i class="fab fa-facebook-square fa-3x"></i>
                                </a>
                                <a class="twitter" href="https://twitter.com/yash072" target="_blank">
                                    <i class="fab fa-twitter-square fa-3x"></i>
                                </a>
                                <a class="linkedin" href="https://www.linkedin.com/in/yash-ballani/" target="_blank">
                                    <i class="fab fa-linkedin fa-3x"></i>
                                </a>
                                <a class="github" href="https://github.com/immortalyash" target="_blank">
                                    <i class="fab fa-github-alt fa-3x"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Jaspreet Singh -->
            <div class="col-12 col-md-6">
                <div class="card profile">
                    <div class="card-body">
                        <div class="profile-img">
                            <img src="{{ url_for('static', filename='#') }}">
                        </div>
                        <h2>Jaspreet Singh</h2>
                        <hr class="small-underline">
                        <div>
                            <div class="social-share">
                                <a class="facebook" href="#" target="_blank">
                                    <i class="fab fa-facebook-square fa-3x"></i>
                                </a>
                                <a class="twitter" href="#" target="_blank">
                                    <i class="fab fa-twitter-square fa-3x"></i>
                                </a>
                                <a class="linkedin" href="#" target="_blank">
                                    <i class="fab fa-linkedin fa-3x"></i>
                                </a>
                                <a class="github" href="#" target="_blank">
                                    <i class="fab fa-github-alt fa-3x"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 empty-gap"></div>
{% endblock business_area %}